<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="save-rules" type="Matrix.Domain.Infrastructure.EntityFramework.Repositories.SaveRulesSection, Matrix.Web.Host, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <appSettings>
    <add key="binding" value="http://*:8080" />
    <add key="root-folder" value="C:\Users\User\source\repos\matrixitUser\matrix\Matrix.Web.Host\content\dist" />    
        
    <add key="service-url" value="http://*:8080"/>
    <add key="service-name" value="веб"/>
    
    <add key="ClientSettingsProvider.ServiceUri" value="" />
	
    <add key="neo4j-url" value="http://neo4j:matrix@localhost:7474/db/data" />    
	
    <add key="redis-host" value="localhost" />
    <add key="redis-port" value="6379" />
	
    <add key="rabbit-host" value="localhost" />
    <add key="rabbit-login" value="guest" />
	<add key="rabbit-password" value="733hoheka" />
    <!-- <add key="rabbit-password" value="733hoheka" /> -->
	
    <add key="rabbit-recovery-enable" value="true" />
    <add key="rabbit-recovery-interval" value="10" />
    
    <add key="watchdog-interval" value="45" />
	
    <add key="senderServer" value="smtp.yandex.ru" />
    <add key="senderPort" value="25" />
    <add key="sender" value="support@matrixit.ru" />
    <add key="senderPassword" value="123456" />
    <add key="suggestionsToken" value="694bbff2c50dfce84c2f0e49e8624e5f30a32c27"/>
        
    <add key="servicePassword" value="57052c599b5a596bd51ae91fa4defc5e" />
    <add key="serviceOperation" value="D:\\mx-system-3.1.0\\matrix-poll-restart.bat" />
    <add key="operation_pollRestart" value="D:\\mx-system-3.1.0\\matrix-poll-restart.bat"/>
    <add key="message_pollRestart" value="производится рестарт сервера опросов"/>
    <add key="operation_taskRestart" value="D:\\mx-system-3.1.0\\matrix-task-restart.bat"/>
    <add key="message_taskRestart" value="производится рестарт микросервера расписаний"/>    
    
    <add key="storage-type" value="mssql"/>
  </appSettings>
  <!--строки соединения-->
  <connectionStrings>    
   <add name="Context" connectionString="data source=localhost;initial catalog=3.1.0.1;user id=matrix;password=matrix" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <!--логгер новый-->
  <nlog>
    <variable name="brief" value="${date:format=dd.MM.yyyy HH\:mm\:ss.fff} | ${level} | ${logger} | ${message} ${exception:format=ToString,StackTrace}" />
    <targets>
      <target name="console" type="ColoredConsole" layout="${brief}" />
      <target name="file" type="File" layout="${brief}" fileName="${basedir}/nlogs/log.txt" archiveFileName="${basedir}/nlogs/log-${shortdate}.txt" archiveAboveSize="1048576" archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="7" concurrentWrites="false" />
      <target name="monitor" type="File" layout="${brief}" fileName="${basedir}/nlogs/monitor.txt" />
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="console" />      
      <logger name="*" minlevel="Trace" writeTo="file" />   
    </rules>
  </nlog>
  
  <!--правила сохранения записей в бд-->
  <save-rules>
    <rules>
      <rule name="часы" format="DataRecordHour{0:MMyyyy}">
        <!--на какие типы распространяется-->
        <types>
          <add name="Hour" />
        </types>
        <!--поля по которым создаются секции -->
        <format-fields>
          <add name="Date" />
        </format-fields>
        <!--уникальные поля, индексируются и перезаписываюся при повторах-->
        <unique-fields>
          <add name="Type" />
          <add name="Date" />
          <add name="ObjectId" />
          <add name="S1" />
        </unique-fields>
      </rule>
      <rule name="логи" format="DataRecordLog{0:MMyyyy}">
        <types>
          <add name="LogMessage" />
        </types>
        <format-fields>
          <add name="Date" />
        </format-fields>
        <unique-fields>
          <add name="Type" />
          <add name="Date" />
          <add name="ObjectId" />
          <add name="S1" />
        </unique-fields>
      </rule>
      <rule name="текущие" format="DataRecordCurrent{0:MMyyyy}">
        <types>
          <add name="Current" />
        </types>
        <format-fields>
          <add name="Date" />
        </format-fields>
        <unique-fields>
          <add name="Type" />
          <add name="Date" />
          <add name="ObjectId" />
          <add name="S1" />
        </unique-fields>
      </rule>
      <rule name="сутки" format="DataRecordDay{0:yyyy}">
        <types>
          <add name="Day" />
        </types>
        <format-fields>
          <add name="Date" />
        </format-fields>
        <unique-fields>
          <add name="Type" />
          <add name="Date" />
          <add name="ObjectId" />
          <add name="S1" />
        </unique-fields>
      </rule>
      <rule name="константы" format="DataRecordConstant">
        <types>
          <add name="Constant" />
        </types>
        <format-fields>
        </format-fields>
        <unique-fields>
          <add name="Type" />
          <add name="Date" />
          <add name="ObjectId" />
          <add name="S1" />
        </unique-fields>
      </rule>
      <rule name="сессии" format="DataRecordSession">
        <types>
          <add name="session" />
        </types>
        <format-fields />
        <unique-fields>
          <add name="Type" />
          <add name="Date" />
          <add name="ObjectId" />
        </unique-fields>
      </rule>
      <rule name="сигнал" format="DataRecordSignal">
        <types>
          <add name="MatrixSignal" />
        </types>
        <format-fields />
        <unique-fields>
          <add name="Type" />
          <add name="ObjectId" />
        </unique-fields>
      </rule>
      <rule name="нештатки" format="DataRecordAbnormal{0:MMyyyy}">
        <types>
          <add name="Abnormal" />
        </types>
        <format-fields>
          <add name="Date" />
        </format-fields>
        <unique-fields>
          <add name="Type" />
          <add name="Date" />
          <add name="ObjectId" />
          <add name="S1" />
        </unique-fields>
      </rule>
      <rule name="аудит" format="DataRecordAudit">
        <types>
          <add name="Audit" />
        </types>
        <format-fields>
        </format-fields>
        <unique-fields>
          <add name="Type" />
          <add name="Date" />
          <add name="ObjectId" />
          <add name="S1" />
        </unique-fields>
      </rule>
      <rule name="уставки" format="DataRecordLimit{0:MMyyyy}">
        <types>
          <add name="limit" />
        </types>
        <format-fields>
          <add name="Date" />
        </format-fields>
        <unique-fields>
          <add name="Type" />
          <add name="Date" />
          <add name="ObjectId" />
          <add name="S1" />
        </unique-fields>
      </rule>
      <rule name="макеты" format="DataRecordMaquette80020_{0:yyyy}">
        <types>
          <add name="Maquette80020" />
        </types>
        <format-fields>
          <add name="Date" />
        </format-fields>
        <unique-fields>
          <add name="Type" />
          <add name="Date" />
          <add name="ObjectId" />
          <add name="S2" />
        </unique-fields>
      </rule>
      <rule name="рассылка ежесуточная" format="DataRecordMailerDaily{0:yyyy}">
        <types>
          <add name="MailerDaily" />
        </types>
        <format-fields>
          <add name="Date" />
        </format-fields>
        <unique-fields>
          <add name="Type" />
          <add name="Date" />
          <add name="ObjectId" />
          <add name="S2" />
        </unique-fields>
      </rule>
      <rule name="рассылка ежемесячная" format="DataRecordMailerMontly">
        <types>
          <add name="MailerMonthly" />
        </types>
        <format-fields>
          <add name="Date" />
        </format-fields>
        <unique-fields>
          <add name="Type" />
          <add name="Date" />
          <add name="ObjectId" />
          <add name="S2" />
        </unique-fields>
      </rule>
    </rules>
  </save-rules>
  <!--логгер-->
  <log4net>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="LogFileAppender" />
      <appender-ref ref="ConsoleAppender" />
    </root>
    <appender name="ConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
      <mapping>
        <level value="FATAL" />
        <foreColor value="Red" />
        <backColor value="White" />
      </mapping>
      <mapping>
        <level value="ERROR" />
        <foreColor value="Red, HighIntensity" />
      </mapping>
      <mapping>
        <level value="WARN" />
        <foreColor value="Yellow" />
      </mapping>
      <mapping>
        <level value="INFO" />
        <foreColor value="Cyan" />
      </mapping>
      <mapping>
        <level value="DEBUG" />
        <foreColor value="Green, HighIntensity" />
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%-5p [%d{dd.MM.yyyy HH:mm:ss}] [%C.%M] %m%n" />
      </layout>
    </appender>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="../logs/веб-сервер.log" />
      <param name="AppendToFile" value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%-5p [%d{dd.MM.yyyy HH:mm:ss}] [%C.%M] %m%n" />
      </layout>
    </appender>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.SignalR.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <system.data>
    <DbProviderFactories>
      <add name="PostgreSQL Data Provider" invariant="Npgsql" description=".Net Framework Data Provider for PostgreSQL" type="Npgsql.NpgsqlFactory, Npgsql, Version=4.0.0.0, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7" />
    </DbProviderFactories>
  </system.data>
</configuration>