<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <appSettings>
    <add key="service-url" value="" />
    <add key="service-name" value="" />
    <add key="neo4j-url" value="" />
    <add key="neo4j-login" value="" />
    <add key="neo4j-password" value="" />
    <add key="rabbit-host" value="" />
    <add key="rabbit-login" value="" />
    <add key="rabbit-password" value="" />
    <add key="redis-host" value="" />
    <add key="redis-port" value="" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <!--строки соединения-->
  <connectionStrings>
    <add name="Context" connectionString="" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <nlog>
    <variable name="brief" value="${date:format=dd.MM.yyyy HH\:mm\:ss.fff} | ${level} | ${logger} | ${message} ${exception:format=ToString,StackTrace}" />
    <targets>
      <target name="console" type="ColoredConsole" layout="${brief}" />
      <target name="file" type="File" layout="${brief}" fileName="${basedir}/nlogs/log.txt" archiveFileName="${basedir}/nlogs/log-${shortdate}.txt" archiveAboveSize="10485760" archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="7" concurrentWrites="false" />
      <target name="monitor" type="File" layout="${brief}" fileName="${basedir}/nlogs/monitor.txt" />
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="console,file" />
      <logger name="Matrix.Domain.Infrastructure.EntityFramework.Repositories.*" minlevel="Debug" writeTo="monitor" />
    </rules>
  </nlog>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>