<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="service-url" value="http://*:9101" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="service-name" value="отчет1" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="neo4j-url" value="bolt://localhost" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="neo4j-login" value="neo4j" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="neo4j-password" value="cbkmdth" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="rabbit-host" value="localhost" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="rabbit-login" value="matrix" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="rabbit-password" value="matrix" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  
    <add key="redis-host" value="localhost" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="redis-port" value="6379" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>

  <connectionStrings>
    <add name="Context" connectionString="data source=system.matrixit.ru;initial catalog=dev3.0.0;user id=matrix;password=OW0KhewBwQiaai" providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
  </connectionStrings>
</configuration>