<nav class="navbar navbar-default navbar-static-top" style="margin-bottom: 0px" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-click="model.navbarCollapsed = !model.navbarCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img alt="Matrix IT" src="/img/favicon.png" style="width: 32px; height: 32px; position: relative; top: -7px; left: -2px" />
            </a>
        </div>

        <div class="collapse navbar-collapse" ng-init="model.navbarCollapsed=true" uib-collapse="model.navbarCollapsed">

            <ul class="nav navbar-nav">
                <li ng-if="model.showEvents" ng-class="{'alert-danger' : model.eventsAlarmType == 'danger', 'alert-info' : model.eventsAlarmType == 'info', 'alert-default' : model.eventsAlarmType == 'none' }">
                    <a href="#" ng-click="model.showEvents()">
                        <span class="media">
                            <img src="/img/lightning.png" height="20" />
                            <span class="badge" ng-if="model.eventsBadgeCounter > 0" ng-bind="model.eventsBadgeCounter"></span>
                        </span>
                        <span class="hidden-sm hidden-md">События</span>
                    </a>
                </li>
            </ul>

            <form class="navbar-form navbar-left" role="search">
                <div class="input-group">                
                    <input type="search" class="form-control "
                           ng-model="model.filterText"                           
                           ng-change="model.onFilterTextChange()"
                           placeholder="поиск" />
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="model.onFilterTextClear()"
                                style="width: 46px; height: 34px">
                            ×
                        </button>
                    </span>
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="model.toggleToolPanel()" style="height:34px"
                                tooltip="открыть/закрыть панель инструментов" tooltip-append-to-body="true" tooltip-placement="bottom">
                            <img src="/img/16/table_gear.png" />
                        </button>
                    </span>
                    <span ng-if="model.toolpanelState" class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="model.listSaveColumnsState()" style="height:34px"
                                tooltip="сохранить изменения" tooltip-append-to-body="true" tooltip-placement="bottom">
                            <img ng-src="/img/16/{{model.listColumnsStateSaved? 'tick.png' : 'table_save.png'}}" />
                        </button>
                    </span>
                    <span ng-if="model.toolpanelState" class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="model.listRestoreColumnsState()" style="height:34px"
                                tooltip="восстановить таблицу в первоначальный вид" tooltip-append-to-body="true" tooltip-placement="bottom">
                            <img ng-src="/img/16/{{model.listColumnsStateRestored? 'tick.png' : 'table_columns_insert_left.png'}}" />
                        </button>
                    </span>
                </div>
            </form>
            
            <ul class="nav navbar-nav navbar-right">
                <li ng-if="model.config == 'matrix'">
                    <a href="#" ng-click="model.calculatorModal()">
                        Калькулятор ценовых категорий
                    </a>
                </li>
                <li ng-if="model.addNewObject" class="dropdown" dropdown on-toggle="">
                    <a href="#" class="dropdown-toggle" dropdown-toggle>
                        <img ng-src="./img/add.png" width="20" /><span class="caret"></span>
                        <span class="hidden-sm hidden-md">Создать...</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ng-if="model.addNewObject">
                            <a href="#" ng-click="model.addNewObject()">
                                <img src="/img/house_add.png" height="20" />
                                ... объект учета
                            </a>
                        </li>
                        <li ng-if="model.addNewHouse">
                            <a href="#" ng-click="model.addNewHouse()">
                                <img src="/img/house_add.png" height="20" />
                                ... дом
                            </a>
                        </li>
                        <li ng-if="model.addNewFolder">
                            <a href="#" ng-click="model.addNewFolder()">
                                <img src="/img/folder_add.png" height="20" />
                                ... группу
                            </a>
                        </li>
                        <li ng-if="model.addNewReport">
                            <a href="#" ng-click="model.addNewReport()">
                                <img src="/img/report_add.png" height="20" />
                                ... шаблон отчёта
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown hidden-xs hidden-sm" uib-dropdown on-toggle="">
                    <a href="#" class="dropdown-toggle" uib-dropdown-toggle>
                        <img ng-src="./img/layout.png" width="20" /><span class="caret"></span>
                        <span>Вид</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ng-class="{'active': !model.foldersAreHidden}">
                            <a href="#" ng-click="model.panelsVisibilityUpdateAndSave('folders')">
                                <img src="./img/explorer.png" width="20" /> Группы
                            </a>
                        </li>
                        <li ng-class="{'active': !model.actionsAreHidden}">
                            <a href="#" ng-click="model.panelsVisibilityUpdateAndSave('actions')">
                                <img src="./img/action_log.png" width="20" /> Действия
                            </a>
                        </li>
                        <li ng-class="{'active': !model.windowsAreHidden}">
                            <a href="#" ng-click="model.panelsVisibilityUpdateAndSave('windows')">
                                <img src="./img/application_view_columns.png" width="20" /> Окна
                            </a>
                        </li>
                    </ul>
                </li>
                <li ng-if="model.showFolders" class="hidden-md hidden-lg">
                    <a href="#" ng-click="model.showFolders()">
                        <img src="./img/explorer.png" width="20" />
                        <span class="hidden-sm">Группы</span>
                    </a>
                </li>
                <li ng-if="model.showActions" class="hidden-md hidden-lg">
                    <a href="#" ng-click="model.showActions()">
                        <img src="./img/action_log.png" width="20" />
                        <span class="hidden-sm">Действия</span>
                    </a>
                </li>
                <li ng-if="model.showWindows" class="hidden-md hidden-lg">
                    <a href="#" ng-click="model.showWindows()">
                        <img src="./img/application_view_columns.png" width="20" />
                        <span class="hidden-sm">Окна</span>
                    </a>
                </li>
                <li class="dropdown" dropdown on-toggle="">
                    <a href="#" class="dropdown-toggle" dropdown-toggle>
                        <img ng-src="./img/{{user.isAdmin? 'administrator':'user'}}.png" width="20" /><span class="caret"></span>
                        <span ng-bind="user.name"></span> (<span ng-bind="user.login"></span>)
                    </a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="action in model.menuView" ng-class="{ 'divider' : !!action.divider }">
                            <a ng-if="!action.divider" href="#" ng-click="action.action()">
                                <img ng-src="{{action.icon}}" width="20" />
                                <span ng-bind="action.title"></span>
                            </a>
                        </li>
                        <li><a href="/wiki/user-manual.pdf" target="_blank"><img src="./img/help.png" width="20" /> Помощь</a></li>
                        <li class="divider"></li>
                        <li><a ng-click="signout()" href="#"><img src="./img/door_out.png" width="20" /> Выход</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2 col-md-3 hidden-sm hidden-xs" ng-if="!model.foldersAreHidden" style="padding-left: 0px; padding-right: 0px;">
            <div resizable style="overflow: auto" ng-style="{height:model.getHeight(windowHeight, true)}">
                <ng-include src="'tpls/folders.html'" ng-controller="FoldersCtrl"></ng-include>
            </div>
        </div>
        <div class="col-sm-12"
             ng-class="{
             'col-md-6': !model.leftIsHidden && !model.rightIsHidden,
             'col-md-9': model.onlyLeftOrRightIsHidden,
             'col-md-12': model.rightIsHidden && model.leftIsHidden,
             'col-lg-8': !model.leftIsHidden && !model.rightIsHidden,
             'col-lg-10': model.onlyLeftOrRightIsHidden,
             'col-lg-12': model.rightIsHidden && model.leftIsHidden,}"
             style="padding-left: 0px; padding-right: 0px;">
             <ng-include ng-if="!model.isHouseList" src="'tpls/list.html'" ng-controller="ListCtrl"></ng-include>
             <ng-include ng-if="!!model.isHouseList" src="'tpls/list.html'" ng-controller="ListHouseCtrl"></ng-include>
        </div>
        <div class="col-lg-2 col-md-3 hidden-sm hidden-xs" ng-class="{'hidden': model.rightIsHidden}" style="padding-left: 0px; padding-right: 0px;">
            <div class="panel panel-default" ng-if="!model.actionsAreHidden" style="margin-bottom:0px">
                <div class="panel panel-body" resizable style="margin-bottom:0px; overflow: auto" ng-style="{height:model.getHeight(windowHeight, model.windowsAreHidden)}">
                    <ng-include src="'tpls/actions.html'" ng-controller="ActionsCtrl"></ng-include>
                </div>
            </div>
            <div class="panel panel-default" ng-class="{'hidden': model.windowsAreHidden}" style="margin-bottom:0px">
                <div class="panel panel-body" resizable style="margin-bottom:0px; overflow: auto" ng-style="{height:model.getHeight(windowHeight, model.actionsAreHidden)}">
                    <ng-include src="'tpls/windows.html'" ng-controller="WindowsCtrl"></ng-include>
                </div>
            </div>
        </div>
    </div>
</div>
