<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <appSettings>
    <add key="url" value="http://*:9003" />
    <add key="neo4j-url" value="http://neo4j:cbkmdth@localhost:7474/db/data" />
    <add key="rabbit-host" value="localhost" />
    <add key="rabbit-login" value="matrix" />
    <add key="rabbit-password" value="matrix" />
  </appSettings>
  <nlog>
    <variable name="brief" value="${date:format=dd.MM.yyyy HH\:mm\:ss.fff} | ${level} | ${logger} | ${message} ${exception:format=ToString,StackTrace}" />
    <targets>
      <target name="console" type="ColoredConsole" layout="${brief}" />
      <target name="file" type="File" layout="${brief}" fileName="${basedir}/nlogs/log.txt" archiveFileName="${basedir}/nlogs/log-${shortdate}.txt" archiveAboveSize="1048576" archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="7" concurrentWrites="false" />
      <target name="monitor" type="File" layout="${brief}" fileName="${basedir}/nlogs/monitor.txt" />
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="console,file" />      
    </rules>
  </nlog>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>