<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="serverUrl" value="http://localhost:8080" />
    <add key="name" value="poll-server" />
    <add key="password" value="7472ee515fd6610cf741dccee9abef5a" />
    <add key="binding" value="http://*:8888" />
    <add key="root-folder" value="../../content" />
    <add key="redis-host" value="localhost" />
    <add key="cron" value="50 * * * *" />
    <add key="rabbit-host" value="localhost" />
    <add key="rabbit-login" value="guest" />
    <add key="rabbit-password" value="733hoheka" />
    <add key="rabbit-recovery-enable" value="true" />
    <add key="rabbit-recovery-interval" value="10" />
    <add key="connection-timeout" value="60" />
    <add key="sessionId" value="6bbb99a7-6c20-4df3-8152-b0feadc04f2b" />
    <add key="webServer" value="D:\\work\\matrix-system3.1.1\\matrix-web-restart.bat" />
    <add key="pollServer" value="D:\\work\\matrix-system3.1.1\\matrix-poll-restart.bat" />
    <add key="schedulerServer" value="D:\\work\\matrix-system3.1.1\\matrix-scheduler-restart.bat" />
    <add key="login" value="poll-server" />
    <add key="redis-port" value="6379" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="sessionId-User" value="f094ef91-0685-433e-a692-bc35a3d7258a" />
    <add key="storage-type" value="mssql" />
    <add key="db-or-api" value="db" />
  </appSettings>
  <!--строки соединения-->
  <connectionStrings>
    <add name="Context" connectionString="data source=(local);initial catalog=3.1.0;user id=matrix;password=matrix " providerName="System.Data.SqlClient" />
  </connectionStrings>

  <!--логгер новый-->
  <nlog>
    <variable name="brief" value="${date:format=dd.MM.yyyy HH\:mm\:ss.fff} | ${level} | ${logger} | ${message} ${exception:format=ToString,StackTrace}" />
    <targets>
      <target name="console" type="ColoredConsole" layout="${brief}" />
      <target name="file" type="File" layout="${brief}" fileName="${basedir}/nlogs/log.txt" archiveFileName="${basedir}/nlogs/log-${shortdate}.txt" archiveAboveSize="104857600" archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="7" concurrentWrites="false" />
      <target name="watchdog" type="File" layout="${brief}" fileName="${basedir}/nlogs/watchdog.txt" archiveFileName="${basedir}/nlogs/log-${shortdate}.txt" archiveAboveSize="1048576" archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="7" concurrentWrites="false" />
      <target name="monitor" type="File" layout="${brief}" fileName="${basedir}/nlogs/monitor.txt" />
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="console" />
      <logger name="*" minlevel="Trace" writeTo="file" />
    </rules>
  </nlog>
  <!--логгер-->
  <log4net>
    <root>
      <level value="TRACE" />
      <appender-ref ref="LogFileAppender" />
      <appender-ref ref="ConsoleAppender" />
    </root>
    <!--пишет в консоль-->
    <appender name="ConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
      <mapping>
        <level value="FATAL" />
        <foreColor value="Red" />
        <backColor value="White" />
      </mapping>
      <mapping>
        <level value="ERROR" />
        <foreColor value="Red, HighIntensity" />
      </mapping>
      <mapping>
        <level value="WARN" />
        <foreColor value="Yellow" />
      </mapping>
      <mapping>
        <level value="INFO" />
        <foreColor value="Cyan, HighIntensity" />
      </mapping>
      <mapping>
        <level value="DEBUG" />
        <foreColor value="Green, HighIntensity" />
      </mapping>
      <mapping>
        <level value="TRACE" />
        <foreColor value="Cyan" />
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%-5p [%d{dd.MM.yyyy HH:mm:ss.fff}] [%C.%M] %m%n" />
      </layout>
    </appender>
    <!--пишет в файл-->
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="../logs/MITSurveyServer.log" />
      <param name="AppendToFile" value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%-5p [%d{dd.MM.yyyy hh:mm:ss.fff}] [%C.%M] %m%n" />
      </layout>
    </appender>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.data>
    <DbProviderFactories>
      <add name="PostgreSQL Data Provider" invariant="Npgsql" description=".Net Framework Data Provider for PostgreSQL" type="Npgsql.NpgsqlFactory, Npgsql, Version=4.0.0.0, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7" />
    </DbProviderFactories>
  </system.data>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>